<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824863015498-uopgq5v4v2jl58go1jh4qf0kq3ca2cgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824863015498-uopgq5v4v2jl58go1jh4qf0kq3ca2cgv</string>
	<key>API_KEY</key>
	<string>AIzaSyBIdfldn7KUAfqEBnT5flD3B82dqf_fUgk</string>
	<key>GCM_SENDER_ID</key>
	<string>824863015498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.gadirly.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-de8fc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-de8fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824863015498:ios:fcbf9d8f939d54837c1cb3</string>
</dict>
</plist>